{% extends "pages/bootstraptemplate.html" %}
{% block title %}Student{% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Fullname</th>
        <th>Age</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
    {% if rs%}
        {% for item in rs%}
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.fullname}}</td>
        <td>{{item.age}}</td>

      </tr>
        {% endfor %}
    {% else %}
        <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    {% endif %}

    </tbody>
  </table>
  </div>

{% endblock %}